*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 1rem;
  }

  html{
    cursor: url('image/Pokeball.cur'), auto;

  }

  /*  Estilos pantalla de inicio */


.bodyInicio{
    background-color: #0D1E40;
}

.headerInicio{
    display:flex;
    align-items: center;
    justify-content:center;

}

.imageLogoPokemonInicio{
    width: 400px;
    margin-top: 20px;
    padding: 10px 40px 10px 40px;
}

.divSaludoInicial{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


.h1Saludo{
    color: aliceblue;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;

}

.preguntaInicio{
    color: aliceblue;
    font-size: 22px;
    margin-top: 15px;
}


.mainInicio{
    align-items: center;
    justify-self: center;
    margin-top: 60px;
    text-align: center;
}

.imagenPikachu{
 width: 370px;
}


.divButtonVerPokemones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonVerPokemones{
    background-color:#F2B807;
    width: 270px;
    height: 56px;
    border-radius: 30px;
    padding:2px 2px 2px 2px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    color: #0D1E40;
    cursor: pointer;
}





/*Pagina Personajes */

  .headerSection{
    width: 100%;
    min-height: 100px;
    max-height: auto;
    background-color:#0D1E40;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px 10px 25px;
    
  }
 
  #input_NombrePokemon{
    margin-left: auto;
    width: 250px;
    height: 45px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    

  }

  .returnImage{
    width: 45px;
    margin-right: 30px;
    cursor: pointer;
  }

  .titulo{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .btn{
    width: 30%;
    height: 20%;
    background-color:#F21D2F;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin:10px;
    font-size: 18px;
    color:beige;
  }

  .btn:hover{
    transform: scale(.9);
    cursor: pointer;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
  }


  .figure_container{
    background-color:#D9D9D9;
    width: 313px;
    height: 300px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 20px;
    padding:20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    transition: all 0.3s ease-out;
  }


.figure_container:hover{
    transform: scale(.9);
    cursor: pointer;
}

.container_preloader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon_image{
    width: 250px;
    
}

.namePokemon{
    font-weight: bold;
}

.div_button_header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.footerIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0D1E40;
    width: 100%;
    height: 100px;
    margin-top: 30px;

}

.imageFooter{
    width: 80px;
    height: 25px;
    margin-top: 5px;
    

}

.imageFooterPokeBall{
    width: 110px;
    height: 30px;
    

}



@media screen and (max-width: 768px) {
    .btn {
        width: 40%;
        height: 25%;
        font-size: 16px;
    }

    


    
}

@media screen and (min-width: 1200px) {
    .btn {
        width: 15%;
        height: 15%;
        font-size: 20px;
    }

    .returnImage{
        width: 45px;
        margin-right: 75%;
    
      }
}